.searchtd{
    background-color: #EEEEEE;
    
}

.box1{
    background-color: #7EE5DA;
    width:39.1%;
}

.box2{
    background-color: #70CCC2;
    width:21;
}
.box3{
    background-color: #62B3AA;
    width:39.1%;
}

.not{
    float: right;
}

